.prompt_message {
  font-size: 12px;
  color: #666;
}
.warning_message {
  font-size: 12px;
  color: #e6a23c;
}
.num_message {
  color: #455cc6;
}
.clickble{
  cursor: pointer;
  color: #455cc6;
}
.error_message{
  font-size: 12px;
  color: #f56c6c;
}

.building,
.restarting,
.shutting_down,
.starting_up,
.deleting,
.updating,
.destroying,
.waiting,
.mounting,
.unmounting,
.recovering,
.recycling,
.syncing,
.creating_image {
  color:#4984E7;
}
.running {
  color:#2DA867;
}
.deleted,
.blocking,
.destroy {
  color: #e6a23c;
}
.shutdown,
.error,
.create_fail,
.failed,.build_fail {
  color:#DA3B18;
}

.m-left10 {
  margin-left: 10px;
}
.m-top10{
  margin-top: 10px;
}
.m-top20{
  margin-top: 20px;
}
.m-right10 {
  margin-right: 10px;
}
.m-bottom10 {
  margin-bottom: 10px;
}

.m-left20 {
  margin-left: 20px;
}
.m-right20 {
  margin-right: 20px;
}
.m-bottom20 {
  margin-bottom: 20px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.flex-around{
  display: flex;
  justify-content: space-around;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.fixed-top{
  position: fixed;
  right: 20px;
  width: 316px;
}
/* loading */
.loading > .el-loading-spinner {
  width: 230px; 
  top: 40%; 
  left: 50%; 
  margin-left: -115px; 
  background-color: #FAFAFA; 
  height: 43px; 
  line-height: 36px; 
  border: 1px solid #888; 
  border-radius: 4px;
}
.loading i,.loading p{
  display: inline-block; 
  font-size:16px; 
  color:#555 !important;
}
.loading i{
  margin-right:10px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
/* 表格里面名称和id显示 */
pre {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}
.name-cell {
  display: inline-block;
  max-width: 100%;
  pre {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.tooltip-cell{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.id-cell {
  display: inline-block;
  max-width: calc(100% - 24px);
  margin-right: 6px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.long-msg{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*限制tooltip的宽度 */
.tooltip-width{
  max-width: 200px;
}
/* 固定表头 */
.table-limit-height {
  height: calc(100vh - 200px) !important;
}