$themes: (
//  定义两种主题的颜色
    light: (
        //字体
        font_color1: #2E2E44,//标题正文
        font_color2: #5D5D70,//一级辅助文字
        font_color3:#9D9DAD,//二级辅助文字
        font_color4:#EBEBF7,
        font-color5:#999,
        font-color6:#333,
        
        //背景
        background_color1: #EBEBF7,//主渲染页面底色
        background_color2: #F2F2FB,//导航栏控件背景色
        background-color3:rgba(46,46,68,.08),//导航栏选中颜色
        background_color4: #F7F7FD,//表格头颜色
        background_color5: #fff,//表格背景色
        //边框
        border_color1: #EBEBF7,//白底分割线
        border_color2: #C1C1CF,//控件线条
        border-color3:#F2F2FB,
        //阴影
        box-shadow1:#dde2ef
    ),
    
    dark: (
         //字体
        font_color1: rgba(255,255,255,.85),//标题正文
        font_color2: rgba(255,255,255,.65),//一级辅助文字
        font_color3:rgba(255,255,255,.45),//二级辅助文字
        font_color4:#EBEBF7,
        font-color5:#999,
        font-color6:#fff,
        //背景
        background_color1: #131313,//主渲染页面底色
        background_color2: #1C1C1C,//导航栏控件背景色
        background-color3:#fff,//导航栏选中颜色
        background_color4: #1F1F1F,//表格头颜色
        background_color5: #222,//表格背景色
        
        //边框
        border_color1: rgba(255,255,255,.1),//白底分割线
        border_color2: rgba(255,255,255,.2),//控件线条
        border-color3:#1C1C1C,
        //阴影
        box-shadow1:#111111,
        )
);

//遍历主题map
@mixin themeify {
    @each $theme-name, $theme-map in $themes {
    //!global 把局部变量强升为全局变量
    $theme-map: $theme-map !global;
    //判断html的data-theme的属性值 #{}是sass的插值表达式
    //& sass嵌套里的父容器标识  @content是混合器插槽，像vue的slot
    [data-theme="#{$theme-name}"] & {
    @content;
    }
    }
    }
     
    //声明一个根据Key获取颜色的function
    @function themed($key) {
    @return map-get($theme-map, $key);
    }
     
    //获取背景颜色
@mixin background_color($color) {
    @include themeify {
        background-color: themed($color) !important;
    }
}
     
    //获取字体颜色
@mixin font_color($color) {
    @include themeify {
        color: themed($color);
    }
}
     
    //获取边框颜色
@mixin border_color($color) {
    @include themeify {
        border: 1px solid themed($color);
    }
}
     //获取边框颜色
@mixin border_top($color) {
    @include themeify {
        border-top: 1px solid themed($color);
    }
}
         //获取边框颜色
@mixin border_left_dashed($color) {
    @include themeify {
        border-left:  1px dashed themed($color);
    }
}
@mixin border_left($color) {
    @include themeify {
        border-left:  1px solid themed($color);
    }
}
         //获取边框颜色
@mixin border_right($color) {
    @include themeify {
        border-right: 1px solid themed($color);
    }
}
         //获取边框颜色
@mixin border_bottom($color) {
    @include themeify {
        border-bottom: 1px solid themed($color);
    }
}
//获取顶部阴影颜色
@mixin box_top_shadow($color) {
    @include themeify {
        box-shadow: 0 5px 5px themed($color);
    }
}
//获取底部阴影颜色
@mixin box_bottom_shadow($color) {
    @include themeify {
        box-shadow: 0 -5px 5px themed($color);
    }
}


