@import 'variable.scss';

html, body, div, p {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}


/* 表格 */
.el-table .el-table__cell {
  padding: 6px 0;
  font-size: 12px;
}
.el-table th.el-table__cell {
  background-color: #eef1f6;
}

/* 输入框 */
.el-input__inner {
  height: 32px;
  font-size: 12px;
}
.el-input-number,
.el-input__icon {
  line-height: 30px;
}
.el-input-number {
  width: 140px;
  .el-input__inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* 按钮 */  
.el-button {
  padding: 8px 20px;
  font-size: 12px;
}
.el-button--text {
  padding: 0;
  font-size: 12px;
}

/* 弹窗 */
.el-dialog__header {
  padding: 15px 20px;
  background: $--color-primary;
  .el-dialog__title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}
.el-dialog__footer {
  text-align: center;
}

/* 单选按钮组 */
.el-radio-button__inner {
  width: 100px;
  padding: 8px 12px;
  margin-right: 10px;
  border-left: 1px solid #DCDFE6;
  border-radius: 4px;
  font-size: 12px;
}
.el-radio-button:last-child .el-radio-button__inner,
.el-radio-button:first-child .el-radio-button__inner {
  border-radius: 4px;
}

/* 分页 */
.el-pagination {
  padding: 10px;
  text-align: right;
}

/* 卡片 */
.el-card {
  color: #333;
}

/* 表单 */
.el-form-item__label {
  color: #333;
}

/* 下拉框 */
.el-select-dropdown {
  max-width: 500px;
}