@font-face {
  font-family: "iconfont"; /* Project id 4426820 */
  src: url('iconfont.woff2?t=1708916251837') format('woff2'),
       url('iconfont.woff?t=1708916251837') format('woff'),
       url('iconfont.ttf?t=1708916251837') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-machine:before {
  content: "\e72c";
}

.icon-more:before {
  content: "\e616";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-breakdown:before {
  content: "\e6a0";
}

.icon-serve:before {
  content: "\e6d7";
}

.icon-tree:before {
  content: "\e98e";
}

